
body { 
    background-color: antiquewhite;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

li {
    display: flex;
    list-style: none;
    font-size: 20px;
}

#box-three {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.question {
    font-size: 50px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

#new,
#set{
    height: 30px;
    width: 150px;
    font-size: 15px;
    cursor: pointer;
}
